#AppIcon, #AppIconTV {
  box-sizing: border-box;
    $total-size: 256px;
    $padding: calc($total-size / 8);
  padding: $padding;
    $icon-size: $total-size - ($padding * 4);
    @include square($total-size);
    background-color: $main-bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;

    .icon-container {
        position: relative;

        .airplay {
            @include square($icon-size);
            fill: $theme-primary;
            //zoom: 3;
        }

        .train {
            position: absolute;
            top: 25%;
            left: 0;
            display: flex;
            //align-items: center;
            justify-content: center;
            @include square(100%);

            svg {
                fill: $theme-primary;
                @include square($icon-size * 0.4);

            }

            //zoom: 2;
        }
    }

}

/* https://developer.android.com/training/tv/start/start#banner */
#AppIconTV {
  width: 320px;
  height: 180px;

  p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
    font-size: 2.5em;
    margin: -12px 0 0;
  }
}
