#AppIcon {
    $total-size: 256px;
    $padding: $total-size / 8;
    $size: $total-size - ($padding * 2);
    @include square($size);
    padding: $padding;
    background-color: $main-bg;

    .icon-container {
        position: relative;

        .airplay {
            @include square($size);
            fill: $theme-primary;
            //zoom: 3;
        }

        .train {
            position: absolute;
            top: 25%;
            left: 0;
            display: flex;
            //align-items: center;
            justify-content: center;
            @include square(100%);

            svg {
                fill: $theme-primary;
                @include square($size * 0.4);

            }

            //zoom: 2;
        }
    }

}