

#main-toolbar {
}

#trip-board-toolbar {
    @extend %centered-container;
    $toolbar-height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $toolbar-height;
    padding: 4px 8px;


    time {
        font-size: 3em;
        color: $primary-text;
    }

    #trip-board-timer-container {
        display: flex;
        align-items: center;
        > * {
            margin-left: .5em;
        }
    }


    .status-last-refresh {
        color: $primary-text;
    }

    $widget-size: 50px;
    .refresh-timer {
        width: $widget-size;
        height: $widget-size;

        > [aria-label="countdownCircleWidget"] {
            $default-timer-size: 180px;
            transform: scale($widget-size / $default-timer-size);
            transform-origin: top left;
        }

        svg.MuiSvgIcon-root {
            fill: white;
        }
    }
}

@mixin board-item-rating($rating, $color) {
    &[data-rating=#{$rating}] {
        border: 1px solid $color;

        .board-departure, .board-arrival {
            border: 1px solid $color;
            background-color: $color;
            color: white;
        }
    }
}

@mixin board-departure-label($status, $color) {
    &[data-status=#{$status}] {
        &:before {
            $size: 10px;
            content: '';
            width: $size;
            height: $size;
            display: inline-block;
            background-color: lighten($color, 10%);
            margin-right: 6px;
        }
    }
}

.board-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.board-item-container {
    margin: 12px 0;

    .board-item {
        display: flex;
        align-items: stretch;

        @include board-item-rating("success", $success);
        @include board-item-rating("warning", $warning);
        @include board-item-rating("danger", $danger);

        .board-departure, .board-arrival {
            flex-shrink: 0;
            width: 4em;
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
        }

        .board-item-mid {
            flex-grow: 1;
            padding: 4px 8px;

            .board-item-legs, .board-departure-label {
                color: #555;
            }

            .board-item-legs {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .MuiChip-root {
                    height: auto;
                    padding: 4px;
                    margin-left: 8px;
                    font-size: 0.7em;
                }
            }

            .board-departure-large {
                margin: 8px 0;
            }

            .board-departure-label {
                display: flex;
                align-items: center;

                @include board-departure-label("onTime", $success);
                @include board-departure-label("early", $primary);
                @include board-departure-label("late", $danger);
            }
        }
    }
}