html, body, #root, .App {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.App {
    display: flex;
    flex-direction: column;

    #main-appbar {
        background-color: #f18500;

        .MuiToolbar-root {
            justify-content: space-between;

            h6 {
                flex: 1 0 0;
            }

            button:last-child {
            }
        }
    }

    > main {
        flex-grow: 1;
        background-color: #333;

        display: flex;
        align-items: center;
        justify-content: center;

        #main-wrap {
            flex: 1 0 0;
            margin: auto;
            padding: 0 16px;

            @include media-min($media-2k) {
                font-size: 1.8em;
                max-width: 1366px;
            }

            @include media($media-2k) {
                font-size: 1.5em;
                max-width: 1200px;
            }

            @include media($media-xl) {
                font-size: 1em;
                max-width: 960px;
            }
        }
    }
}
