@import "colors";

$centered-max-width: 960px;
$primary-text: white;

$theme-primary: #f18500;
$main-bg: #333;

$media-2k: 1440px;
$media-xl: 1200px;
$media-ipad-land: 1024px;


@mixin media($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin media-min($width) {
    @media (min-width: $width) {
        @content;
    }
}

@mixin square($size) {
    width: $size;
    height: $size;
}

%list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}